<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wang.searchwordweb.mapper.wordMapper">
    <select id="selectToday" resultType="com.wang.searchwordweb.pojo.Word">
        select * from word where DATE(date_time) = CURDATE();
    </select>
</mapper>